<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to docs.radapp.io" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^docs\.radapp\.dev$" />
                    </conditions>
                    <action type="Redirect" url="https://docs.radapp.io/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
