@import "nav";
@import "sidebar-tree";
@import "content";

.td-navbar .navbar-brand__name {
    display: none;
}

.btn-success {
    background: #3176d9;
    background-color: #3176d9;
    border-color: #3176d9;
}

.btn {
    border-radius: 10px;
}

.td-content .alert-primary {
    background-color: #ffffff;
    color: inherit;
    border-color: #c43821;
}


.cardpane-matrix {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    > .td-card {
        margin: 0 !important;
        min-width: 0;
        height: 100%;
    }
}
