$info: #b89112;

input[type="text"] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
}

input[type="text"]:focus {
    border: 2px solid #555;
}

.card {
    display: flex;
    align-items: center;
}

.card-body {
    max-width: 80%;
    display: flex;
    align-items: center;
}