name: Upmerge docs to edge

on:
  workflow_dispatch:

jobs:
  upmerge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_RAD_CI_BOT_PAT }}
      - name: Create upmerge docs
        run: |
          export DATE=$(date +%Y-%m-%d)
          export SOURCE_BRANCH=$(basename ${{ github.ref }})
          echo "Upmerging docs from $SOURCE_BRANCH to edge"
          git config --global user.email "radiuscoreteam@service.microsoft.com"
          git config --global user.name "Radius CI Bot"
          git checkout edge
          git checkout -b upmerge/$DATE
          git merge --no-ff --no-commit origin/$SOURCE_BRANCH
          git reset HEAD docs/config.toml docs/layouts/partials/hooks/body-end.html
          git commit -m "Upmerge to edge"
          git push --set-upstream origin upmerge/$DATE
      - name: Create pull request
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RAD_CI_BOT_PAT}}
        run: gh pr create --title "Upmerge to edge" --body "Upmerge to edge" --base edge --head upmerge/$DATE
